.navbar{
    display: flex;
    
    
    
}

.name{
    color: rebeccapurple;
    text-align: center;
}

.meImage{
    display: flex;
    justify-content: center;
}

.aboutMe{
    text-align: center;
    color: rebeccapurple;
}

.description{
    display: flex;
    justify-content: center;
    
}

.talking{
    text-align: justify;
    width: 450px;
}

.firstCuy{
    width: 200px;
    height: 200px;
}

.cuy{
    width: 200px;
    height: 200px;
}

.skillsHeader{
    color: rebeccapurple;
    text-align: center;
}

.skillsLogos{
    display: flex;
    justify-content: space-around;
    
    

}

.imgCarousel{
    margin-top: 10vh;
    display: flex;
    justify-content: center;
    width: 100%;
}

.buttons{
    border-radius: 100px;
    border-style: none;
    height: 50px;
    margin-top: 25vh;
    width: 10vh;
}

.projectDescription{
    display: flex;
    justify-content: center;
}

.img1Carousel{
    width: 400px;
    height: 400px;
}

.icons {
    height: 50px;
}

#links{
    display: flex;
    justify-content: space-around;
}

@media only screen and (max-width:390px)  {
    .talking{
       margin-left: 1vh;
       margin-right: 1vh;
    }

    .cuy{
     width: 75px;
     height: 75px;
    }

    
    .skillsHeader{
        display: flex;
        justify-content: center;
        color: rebeccapurple;
    }

    .navbar{ 
        border-style: solid;
        
    }

    #firstImage{
        height: 250px;
        width: 250px;
    }

    .buttons{
        margin-top: 15vh;
    }

   
}

